#root {
  width: 100% !important;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff !important; /*#242424*/
}

.toolbar{
  width: 100% !important;
  background-color: #eeeeee;
}
.cartIcon
{
  color: #101010 !important;
}
.productoContainer{

  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.tarjetaProducto{
  background-color: #ffffff !important; /* #f1f0f0 */
  border-radius: 13px !important;
}
.tarjetaCategoria{
  background-color: #f4f4f4 !important;
  border-radius: 13px !important;
  padding: 5px;
}

.avatar{
  width: 8%;
  height: auto;
}
.icono{
  margin-right: 50px !important;
}
.icono:hover {
  filter: drop-shadow(0 0 2em #c40b4faa);
}
.icono.react:hover {
  filter: drop-shadow(0 0 2em #c40b4faa);
}

.ProductInput{
  color: white;
  border: 2px solid #8707ff;
  border-radius: 8px;
  padding: 10px;
  background: transparent;
  max-width: 80px;
  height: 30px;
  text-align: center !important;
}

.css-1yrc8ca-MuiInputBase-input-MuiInput-input{
  text-align: center !important;
}

/* CSS */
.botonSumarRestar {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.botonSumarRestar:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.botonSumarRestar:active {
  outline: 0;
}

.botonSumarRestar:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .botonSumarRestar {
    height: 48px;
  }
}

.activeLink{
  color: #0792ad;
}
.inactiveLink{
  color: #1c1c1c;
}