#root {
  width: 100% !important;
  margin: 0 auto;
  text-align: center;
}

.toolbar{
  width: 100% !important;
  background-color: #101010;
}
.cartIcon
{
  color: #ffffff !important;
}
.productoContainer{
  margin-top: 120px !important;
  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.tarjetaProducto{
  background-color: #f1f0f0 !important;
  border-radius: 13px !important;
}

.avatar{
  width: 8%;
  height: auto;
}
.icono{
  margin-right: 50px !important;
}
.icono:hover {
  filter: drop-shadow(0 0 2em #c40b4faa);
}
.icono.react:hover {
  filter: drop-shadow(0 0 2em #c40b4faa);
}
